@charset "utf-8";
/* CSS Document */
/*image content in home page*/

.wrap1 {
width:980px; height:270px;}

.wrap1image {
width:450px;
position:absolute;
float:left;
margin-top:-20px;
}

.wrap1content
{
width:640px;
position:absolute;
float:left;
padding:25px;
margin-left:280px;
margin-top:-40px;

}
/*body content three section*/

.wrap2 {
width:980px; height:500px;}

#wrap2content1{
float: left;
	width: 270px;
	position: relative;		
	
	padding-right:65px;
	font-family:calibre;
	margin-top:-70px;
	
	

}
#wrap2content1 li{
margin-left:-10px;
list-style:url(../images/arrow.jpg) inside;
padding:5px;
padding:10px;
}
#wrap2content2
{
float: left;
	width: 270px;
	position: relative;		
	
	padding-right:65px;
	font-family:calibre;
	margin-top:-70px;

}

#wrap2content2 ul li
{
background:url(../images/line1.jpg) bottom repeat-x;
width:250px;
text-decoration:none;
list-style:none;
float:left;
margin-left:-40px;
font-family:calibre;

color:#3b3b3b;
font-size:16px;
padding:10px;
}


#wrap2content3
{
float:left;
	width: 310px;
	position:relative;
	margin-top:-70px;
	
	
}

#wrap2content3 ul li
{
list-style:disc;
font-family:calibre;
margin-left:-20px;


}
#wrap2content3 ul li a
{
text-decoration:underline;
color:#70b9c1;
font-family:calibre;

}


.workcontent{
float:left;
width:320px;
margin-left:280px;
}
.workimage{
float:right;
width:390px;
margin-top:20px;
margin-left:-20px;
}
/*how it works content*/
/*how it works image content*/
#workcontent1{
float: left;
	width: 245px;
	position: relative;	
	font-family:calibre;
	padding:5px;
	margin-top:-40px;
	
	}
	
#workcontent2
{
float: left;
	width: 410px;
	position:relative;	
	font-family:calibre;
	
	
}

#workcontent2 ul li
{
background:url(../images/line1.jpg) bottom repeat-x;
margin-top:-80px;
	
width:380px;
text-decoration:none;
list-style:none;
float:left;
padding:10px;
padding-bottom:-10px;

}

#workcontent3
{
float:left;
	width: 600px;
	position:relative;
	
	
}

#workcontent3 ul li
{
list-style:disc;
font-family:calibre;
margin-left:270px;

}


/*pricing page*/
.priceimage{
float:right;
width:320px;
margin-top:30px;
margin-right:70px;
}
.pricecontent{
float:left;
width:310px;
margin-left:280px;
}
/*price table*/
.table1{
width:620px;
margin-top:-10px;
}
.table2
{
width:180px;
float:right;
margin-top:-755px;
margin-left:-10px;
}

/*why us page*/
#whyuslink{
float:left;
width:160px;
margin-left:-25px;

}
#whyuslink ul li 
{
background:url(../images/line1.jpg) bottom no-repeat;
	
width:140px;
text-decoration:none;
list-style:none;
float:left;
padding:10px;
padding-left:20px;
}
#whyuslink li a{text-decoration:none; list-style:none; color:#000000;}
#whyuslink li a:hover, #whyuslink .active a {text-decoration:none; color:#66b4bd;}




.whyuscontent{
float:left;
width:350px;
margin-left:150px;
}
.whyusimage{
float:left;
width:300px;
margin-left:-50px;
margin-top:10px;


}


#whyuscontent2
{
float: left;
	width: 380px;
	position:relative;	
	font-family:calibre;
	margin-left:5px;
	margin-top:-20px;
	
	
}
#whyuscontent2 ul li
{
list-style-type:none;
	
}
#whyusbody3{
width:200px;
font-family:Melior;
font-style:italic;
line-height:40px;

position:relative;
float:right;
margin-right:50px;

}

/*whatyouget page css*/


#whatcontent2
{
float: left;
	width: 350px;
	position: relative;		
	
	
	font-family:calibre;
	margin-top:-40px;
	padding-left:30px;

}

#whatcontent2 ul li
{
background:url(../images/line1.jpg) bottom repeat-x;
width:340px;
text-decoration:none;
list-style:none;
float:left;
margin-left:-40px;
font-family:calibre;

color:#3b3b3b;
font-size:16px;
padding:10px;
}

/*Hipaam page Css*/

.hipaacontent{
float:left;
width:250px;
margin-left:150px;
}
.hipaaimage{
float:left;
width:300px;
margin-top:10px;
}


#hipaacontent2
{
float:left;
	width: 380px;
	position:relative;
	margin-top:-70px;
	margin-left:40px;
	
	
}

#hipaacontent2 ul li
{
list-style-image:url(../images/listdot.png);
list-style-position:inside;
width: 380px;
font-family:calibre;
margin-left:-35px;
background:#e9f5ec;
padding:5px;


}

/*how we help page css*/


#helpcontent2
{
float:left;
	width: 340px;
	position:relative;
	margin-top:-20px;
	margin-left:40px;
	
	
}

#helpcontent2 ul li
{
list-style-image:url(../images/listdot.png);
list-style-position:inside;
text-decoration:underline;
color:#66b4bd;
width: 340px;
font-family:calibre;
margin-left:-45px;
padding:5px;


}












