@charset "utf-8";
/* CSS Document */
body
{

width:auto;
height:auto;

}

#gradient1 {
height: 80px;
padding: 10px;
width:auto;
/* For WebKit (Safari, Google Chrome etc) */
background: -webkit-gradient(linear, left top, left bottom, from(#cef1f4), to(#fff));
/* For Mozilla/Gecko (Firefox etc) */background: -moz-linear-gradient(top, #cef1f4, #fff);
/* For Internet Explorer 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cef1f4, endColorstr=#FFFFFFFF);
/* For Internet Explorer 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#cef1f4, endColorstr=#FFFFFFFF)";
} 

#gradient2 {
height: 50px;
padding: 10px;
width:auto;
/* For WebKit (Safari, Google Chrome etc) */
background: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#fff));
/* For Mozilla/Gecko (Firefox etc) */background: -moz-linear-gradient(top, #e7e7e7, #fff);
/* For Internet Explorer 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e7e7e74, endColorstr=#FFFFFFFF);
/* For Internet Explorer 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e7e7e7, endColorstr=#FFFFFFFF)";
} 

.wrapper {
	width:980px;
	height: auto;
	padding:0;
	margin:0 auto;
}
h1 {float:left;padding:0px 0 0 36px}
h2{ font-family:Melior; font-size:22px; color:#66b4bd; font-style:normal;}
h3{ font-family:melior; font-size:34px; color:#000000; font-style:normal;}
h4{font-family:melior; font-size:22px; color:#000000; font-style:normal;}


p {font-family:calibri; font-size:14px; color:#000000;}


header {height:120px;padding-top:25px;width:950px;overflow:hidden;}

#logo {background:url(file:///E|/revathi/alwaysmed/images/logo.jpg) 0 0 no-repeat;width:288px;height:58px; float:left; margin-top:30px;}

#top_nav {float:right;padding:1px 0px 0px 0px; margin-top:-5px;}
#top_nav li {float:left;padding:10px; background:url(file:///E|/revathi/alwaysmed/images/line2.jpg) right no-repeat; list-style:none; margin-right:20px; margin-top:-6px; text-decoration:none; color:#000000; font-family:calibre; font-size:12px;}
#top_nav li a {display:block;line-height:0px; text-decoration:none; color:#000000;}
#top_nav .end {background:none;padding-right:0;margin-right:0}

#menu {width:650px;float:right;padding:0px 3px 5px 5px;}
#menu li {float:left; list-style:none; margin:0px; display:inline; border:none; outline-style:none; padding-left:13px; text-decoration:none; color:#000000; font-family:melior;}
#menu li a {font-size:18px;color:#000000;line-height:20px;padding:0px 5px;height:20px;letter-spacing:-1px; font:bold; display:inline; text-decoration:none;}
#menu li a:hover, #menu .active a {text-decoration:none; color:#66b4bd;}

span{color:#66b4bd;}

.wrap1 {
width:980px; height:270px;}

.wrap1image {
width:450px;
margin-top:25px;
position:absolute;
float:left;
}

.wrap1content
{
width:640px;
position:absolute;
float:left;
padding:25px;
margin-left:160px;
padding-left:160px;
}

.wrap2 {
width:980px; height:600px;}

#wrap2content1{
float: left;
	width: 270px;
	position: relative;		
	margin-top:30px;
	padding-right:65px;
	font-family:calibre;
	
	

}
#wrap2content1 li{
margin-left:-10px;
list-style:url(file:///E|/revathi/alwaysmed/images/arrow.jpg);
padding:5px;
}
#wrap2content2
{
float: left;
	width: 270px;
	position: relative;		
	margin-top:30px;
	padding-right:65px;
	font-family:calibre;

}

#wrap2content2 ul li
{
background:url(file:///E|/revathi/alwaysmed/images/line1.jpg) bottom repeat-x;
width:250px;
text-decoration:none;
list-style:none;
float:left;
margin-left:-40px;
font-family:calibre;

color:#3b3b3b;
font-size:18px;
padding:10px;
}


#wrap2content3
{
float:left;
	width: 310px;
	position:relative;	
	margin-top:30px;
	
}

#wrap2content3 ul li
{
list-style:disc;
font-family:calibre;
margin-left:-20px;


}
#wrap2content3 ul li a
{
text-decoration:underline;
color:#70b9c1;
font-family:calibre;

}
.footerimg{
padding-left:320px;
margin-top:20px;
}



#footer {
width:980px; height:160px;}
#footer li {float:left; padding:10px; padding-left:5px; background:url(file:///E|/revathi/alwaysmed/images/line.jpg) right 0 no-repeat; list-style:none; margin-top:10px; font-size:14px; font-family:calibre;}
#footer li a {display:block;line-height:0px; text-decoration:none; color:#000000;}
#footer .end {background:none;padding-right:0;margin-right:0}










